* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #444;
  transition: 0.2s all;
}

a:hover {
  color: #dec129;
}

.console_reset {
  padding: 1rem 0.4rem;
  background-color: #444;
  color: #fff;
  align-self: center;
  margin-top: 10rem;
  margin-bottom: 1rem;
}
