<nav>
    <a class="brand" routerLink="/">
        <img src="../../../assets/pic-png.png">
        <h2> MyPics </h2>
    </a>
    <ul class="links">
        <li><a routerLink="/about">Sobre</a></li>
        <li id="add"><a routerLink="/mypics/new">Compartilhar</a></li>
    </ul>
</nav>
<nav class="subNav">
    <a class="subnav-link" href="javascript: window.history.back()">
        <fa-icon>{{leftArrow}}</fa-icon> Retornar
    </a>
    <a class="subnav-link" routerLink="/">
        Ir para o Feed
    </a>
</nav>