form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 1.6rem;
  padding: 2rem 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 0.2rem;
  width: 100%;
  color: #135A62;
}

.form-group label {
  font-weight: bold;
  font-size: 0.9em;
}

.form-input {
  padding: 0.6rem 1rem;
  width: 100%;
  color: 0.8em;
  border: solid 1px transparent;
}

.form-input:focus-visible {
  background-color: #fff;
  border: solid 1px #135A62;
}

.form-group input[type='file'] {
  display: none;
}

.file-image {
  text-align: center;
  cursor: pointer;
  padding: .8rem 1rem;
  width: 100%;
  color: white;
  background-color: #135A62;
  transition: all .2s ease-in-out;
}

.file-image:hover {
  transform: scale(1.02);
}

.validationError {
  color: #dc3545;
  border-left: #dc3545 solid 3px;
  padding-left: 0.4rem;
}