<div class="about">
  <header>
    <h2>Sobre o <span>MyPics</span>!</h2>
    <span>Compartilhe suas fotos e receba comentários das pessoas que mais
      gosta!</span>
  </header>

  <section class="p-container">
    <p>
      O MyPics é um projeto realizado para estudos de boas práticas e técnicas
      mais utilizadas com AngularJS.
    </p>

    <p>
      Este projeto foi inspirado no Curso Gratuito do Mathues Batisti,
      disponibilizado em seu canal:
      <a target="_blank" href="https://www.youtube.com/@MatheusBattisti">youtube.com/@matheusbattisti</a>
    </p>

    <p>
      Para o backend, foi utilizado o framework AdonisJS e nele foram
      implementados todos os serviços para o CRUD com as informações do cliente.
    </p>

    <p>
      O principal objetivo deste projeto é externar minhas habilidades como
      desenvolvedor frontend Javascript, com Angular.
    </p>

    <p>
      O repositório deste projeto está disponível em meu GitHub! Consulte para
      mais informações.
      <a target="_blank" href="https://github.com/victorlabussiere?tab=repositories">GitHub: /victorlabussiere</a>
    </p>
    <button routerLink="/mypics/new" class="pButton">Compartilhe agora um Pic sua!</button>
  </section>

</div>