h2 {
    text-align: center;
    font-size: 2.2em;
}

h2 span {
    color: #dec129;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40vw;
}